@charset "utf-8";

/* 초기화 */
body, h1, h2 { padding: 0; margin: 0; }
a { text-decoration: none;  color: #fff; }
body {
    overflow: hidden;
    
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #000 15%, #a20000 100%) no-repeat;
    color: #fff; }
/* 메인 */
h1 {
    margin: 15px;
    font-size: 40px;
    line-height: 40px;
}

h2 {
    margin: 10px 0 0 15px;
    font-size: 15px;
    line-height: 15px;;
}

#logo {
    width: 50px;
    height: 50px;
    position: absolute; bottom: 15px; right: 10px;
    background: url(image/logo.png) no-repeat center center / contain;
    text-indent: -9999px;
}

a {
    position: absolute; left: 40%; bottom: 25%;
    font-size: 25px;
}

a:active {
    color: #000;
}
