@charset "utf-8";

/* 초기화 */
body, h1 { margin: 0; padding: 0; }
a { text-decoration: none; color: #000; }
body { background: #660000; }

.heading {
    text-align: center;
    color: #fff;
    font-size: 25px;
    padding: 50px 0 40px;
}



div {
    width: 500px;
    position: relative; left: calc(50% - 250px);
    margin-bottom: 50px;
    border-radius: 40px;
}

div > p {
    padding-top: 25px;
    box-sizing: border-box;
    line-height: 27px;
    font-weight: bold;
}

#question > p {
    padding-top: 50px;
    font-size: 23px;
    font-weight: bold;
    line-height:33px;
}

#question {
    height: 160px;
    background: #fff;
    text-align: center;
    margin-bottom: 80px;
    border-radius: 50px;
}

a {
    display: block;
    width: 500px;
    height: 100px;
    position: relative; left: calc(50% - 250px);
    margin-bottom: 50px;
    border-radius: 40px;
    
}

.answer:active {
    background: #cecece;
}

.answer1, .answer2 {
    height: 100px;
    background: #fff;
    text-align: center;
  
}

#logo {
    position: absolute; bottom: 0px; left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    background: url(image/logo.png) no-repeat center / contain;
    text-indent: -9999px;
}

